thead
{
	background-color:white;

}
tbody tr:nth-child(even)
{
	background-color: white;
}
tbody tr:nth-child(odd)
 {
	background-color: #eeeeee;
}

table
{
	width: auto;
}

.nav-item
{
text-align:right;
}

.carousel-inner > .item > img {
	height:780px;

}

 .navbar
 {
	 	background-color:#333333;
         margin-bottom: 0;
         border-radius: 0;
 }

 #logo
 {
     position: absolute;
     width: 200px;
     height: 100px;

     top:10px;
     left:4%;

 }

 #logo img
 {
     max-height:50px;
 }

 body
 {
	 font-size:18px;
	 font-family: 'Poppins', Arial, Halvetica, sans-serif;
	 background:#eeeeee;
 }

.container > h1
 {
	 color:#333333;
	 font-weight: 800;
	 font-size: 48px;
	 font-family: 'Poppins', sans-serif;
 }

.navbar > .container > .collapse > .nav > li > a > .glyphicon
{
	color: #ff0000;
}

.container > h1 > .glyphicon
{
	color: purple;
}

.container > p > .glyphicon
{
	color: purple;
}

.navbar > .container > .collapse > .nav > li > .btn
{
	border: none;
	background-color: rgb(0, 29, 29);
	padding: 14px 14px;
	margin-right: 10px;
}


.navbar {
	background-color: black;
}

.navbar > .container > .collapse > .nav > li > a > .glyphicon{
	color: white;
	padding: 10px;
}

.navbar-nav > li{
	padding:10px;
}


.navbar > .container > .collapse > .nav > li > .btn{
	padding: 7px;
	padding-right: 14px;
}

.bg-warning{
	background-color: #eeeeee;
}

.navbar > .container > .collapse > .nav > li > .btn{
	background-color: #333333;
}

.btn-primary {
    color: #333333;
    background-color: gold;
    border-color: gold;
}