thead
{
	background-color:green;

}
tbody tr:nth-child(even)
{
	background-color: white;
}
tbody tr:nth-child(odd)
 {
	background-color: grey;
}


.nav-item
{
text-align:right;
}

h1, h3 {
    text-align: center;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-top: 50px;
}

#logo
{
		position: absolute;
		width: 200px;
		height: 100px;
		top:10px;
		left:4%;

}

#logo img
{
		max-height:50px;
}

body{
	background-color: #eeeeee;
	font-family: 'Poppins', sans-serif;
}

.container > form > fieldset > .form-group >  label
{
	color: white;
	font-size: 18px;
}

.container > form > fieldset > legend
{
	color: white;
	font-size: 18px;
	text-align: center;
}

.navbar > .container > .collapse > .nav > li > a > .glyphicon
{
	color: #ff0000;
}

.navbar > .container > .collapse > .nav > li > .btn
{
	border: none;
	background-color: rgb(0, 29, 29);
	padding: 14px 14px;
	margin-right: 10px;
}

.navbar {
	background-color: black;
}

.navbar > .container > .collapse > .nav > li > a > .glyphicon{
	color: white;
	padding: 10px;
}

.navbar-nav > li{
	padding:10px;
}

.navbar > .container > .collapse > .nav > li > .btn{
	padding: 7px;
	padding-right: 14px;
}


.navbar {
	background-color: black;
}

.navbar > .container > .collapse > .nav > li > a > .glyphicon{
	color: white;
	padding: 10px;
}

.navbar-nav > li{
	padding:10px;
}


.navbar > .container > .collapse > .nav > li > .btn{
	padding: 7px;
	padding-right: 14px;
}

.bg-warning{
	background-color: #eeeeee;
}

.navbar > .container > .collapse > .nav > li > .btn{
	background-color: #333333;
}

.container > form > fieldset > legend{
	color: #333333;
}

.container > form > fieldset > .form-group > label {
    color: #333333;
    font-size: 18px;
}

.btn-success {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
}

.btn-primary {
    color: #333333;
    background-color: gold;
    border-color: gold;
}